@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #232323;
}

h1 {
    margin: 0;
    background-color: steelblue;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: normal;
    padding: 20px;

}

#displayColor {
    font-size: 200%;
}

#barra {
    background-color: white;
    color: black;
    text-align: center;
    height: 30px;
}

button {
    border: none;
    text-transform: uppercase;
    height: 100%;
    background-color: white;
    color: steelblue;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
}

button:hover {
    background-color: steelblue;
    color: white;
}

#message {
    width: 20%;
    display: inline-block;
    font-size: 1rem;
}

.selected {
    background-color: steelblue;
    color: white;
}

.square {
    background-color: greenyellow;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}